@using KCC.Web.Features.Sections.Base;

@model BaseSectionViewModel

<section
  data-section-guid="@Model.SectionGuid"
  class="@Html.Clsx(
    "base-section rounded-4xl",
    Model.ContainerClass,
    Model.BackgroundColor,
    Model.TextColor,
    $"pb-{Model.PaddingBottom}",
    $"pt-{Model.PaddingTop}",
    $"px-{Model.HorizontalPadding}"
  )"
>
  @if (!string.IsNullOrEmpty(Model.Heading))
  {
    <p class="mb-8 text-center text-4.5xl">@Model.Heading</p>
  }

  <widget-zone />
</section>
