@using KCC.Web.Features.Components.Breadcrumbs
@model BreadcrumbsViewModel

<div class="py-4" data-ktc-search-exclude>
  @foreach (var link in Model.Links.OfType<BreadcrumbLink>())
  {
    if (link != Model.Links.First())
    {
      <span class="px-1">/</span>
    }

    @if (string.IsNullOrEmpty(link.Url))
    {
      <span>@link.LinkText</span>
    }
    else
    {
      <a href="@link.Url" class="underline">@link.LinkText</a>
    }
  }
</div>
