@model BasePageViewModel

<!DOCTYPE html>
<html lang="en">

<head>
  <partial name="~/Features/Pages/Shared/Partials/_Metadata.cshtml" />

  <link rel="stylesheet" vite-href="/Features/Main.ts" asp-append-version="true" />
  <page-builder-styles />
</head>

<body>
  <div id="server-content">
    @RenderBody()
  </div>

  <script type="module" vite-src="/Features/Main.ts" asp-append-version="true"></script>
  <page-builder-scripts />
</body>

</html>
