<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a4885337-3841-8f8c-b577-73f5d1306ea7" Alias="KCC Card Columns" Level="1">
  <Info>
    <Name>KCC Card Columns</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "2",
    "3",
    "4"
  ],
  "multiple": false
}]]></Config>
</DataType>