<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e20e6776-b21b-89f2-94e0-8b66d636267b" Alias="KCC Cards" Level="1">
  <Info>
    <Name>KCC Cards</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0bb19365-f1f7-8b32-b234-4f8e930f1891",
      "settingsElementTypeKey": null,
      "label": "{=heading}"
    }
  ],
  "validationLimit": {
    "min": 1,
    "max": null
  }
}]]></Config>
</DataType>