<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e1d206d5-929c-8308-8b1d-5d1304448300" Alias="KCC Difficulty" Level="1">
  <Info>
    <Name>KCC Difficulty</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Easy",
    "Medium",
    "Hard"
  ],
  "multiple": false
}]]></Config>
</DataType>