<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c25347f-86bd-8624-beb4-8e5cc43df27c" Alias="KCC Home Sections" Level="1">
  <Info>
    <Name>KCC Home Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f675369c-c0a5-8c10-8588-74cdb606b5ee",
      "settingsElementTypeKey": "8e2e7a67-ad15-851f-a27a-ba2c7aef7865",
      "label": "Rich text: {=text | stripHtml | truncate:60}"
    },
    {
      "contentElementTypeKey": "f7a45206-ed90-8ac6-b8c9-c86ac092dbe5",
      "settingsElementTypeKey": "8e2e7a67-ad15-851f-a27a-ba2c7aef7865",
      "label": "Card grid: {=heading}"
    },
    {
      "contentElementTypeKey": "24795bd4-d426-87f5-8f6a-1585ad536399",
      "settingsElementTypeKey": "8e2e7a67-ad15-851f-a27a-ba2c7aef7865",
      "label": "Stacker: {=heading}"
    }
  ],
  "validationLimit": {
    "min": 0,
    "max": null
  }
}]]></Config>
</DataType>