<?xml version="1.0" encoding="utf-8"?>
<DataType Key="db13686e-6fb6-8ae2-85a0-5b00f40a1dd2" Alias="KCC Ingredients" Level="1">
  <Info>
    <Name>KCC Ingredients</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>