<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91c07ea6-53dd-85d1-8d1b-171fad53ec99" Alias="KCC Instructions" Level="1">
  <Info>
    <Name>KCC Instructions</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>KCC.PropertyEditorUi.Instructions</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>