<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca49810a-9594-8d76-be41-f6d21f3769d9" Alias="KCC Nav Items" Level="1">
  <Info>
    <Name>KCC Nav Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ff558bff-77ca-8166-bdc9-0f175d319c29",
      "settingsElementTypeKey": null
    },
    {
      "contentElementTypeKey": "672e1703-aeab-87d1-b3a0-ac8094e92775",
      "settingsElementTypeKey": null
    }
  ],
  "validationLimit": {
    "max": null,
    "min": 0
  }
}]]></Config>
</DataType>