<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81da0281-6de3-84d1-9256-4ebee976b746" Alias="KCC Nav Diets" Level="1">
  <Info>
    <Name>KCC Nav Diets</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "2ed5b6e1-5e05-8682-b8cd-d4db1efd9bd0",
  "maxNumber": 0,
  "minNumber": 0,
  "startNode": {
    "type": "content"
  }
}]]></Config>
</DataType>