<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b1074f76-b55e-8f78-8834-0edd75114fd8" Alias="KCC Nav Preset" Level="1">
  <Info>
    <Name>KCC Nav Preset</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Under 30 minutes",
    "Top rated",
    "Most variants",
    "Newest",
    "Surprise me"
  ],
  "multiple": false
}]]></Config>
</DataType>