<?xml version="1.0" encoding="utf-8"?>
<DataType Key="430e6bc3-7c57-89a8-b837-9dda9fc1a90b" Alias="KCC Quick Picks" Level="1">
  <Info>
    <Name>KCC Quick Picks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "2cee6ea1-c36c-8948-92d8-41cdb6654cfc",
      "settingsElementTypeKey": null,
      "label": "{=preset}"
    },
    {
      "contentElementTypeKey": "b91cc3ac-082c-8abf-8221-859a64e267b7",
      "settingsElementTypeKey": null,
      "label": "{=label}"
    }
  ],
  "validationLimit": {
    "min": 0,
    "max": null
  }
}]]></Config>
</DataType>