<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aa05be6f-cf5a-820e-8338-b683ac3ca819" Alias="KCC Recipe Icon" Level="1">
  <Info>
    <Name>KCC Recipe Icon</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxChars": 200
}]]></Config>
</DataType>