<?xml version="1.0" encoding="utf-8"?>
<DataType Key="257131a3-2e49-8f8c-9b0a-31989c040559" Alias="KCC Ramp" Level="1">
  <Info>
    <Name>KCC Ramp</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Device",
    "Light",
    "Dark"
  ],
  "multiple": false
}]]></Config>
</DataType>