<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01201564-9552-847e-8b31-92ca261480f6" Alias="KCC Show When" Level="1">
  <Info>
    <Name>KCC Show When</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Always",
    "Signed in",
    "Signed out"
  ],
  "multiple": false
}]]></Config>
</DataType>