<?xml version="1.0" encoding="utf-8"?>
<DataType Key="93f4a90d-66dc-8382-aa28-7481bf9adbb1" Alias="KCC Search Suggestions" Level="1">
  <Info>
    <Name>KCC Search Suggestions</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>