<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1c461cc3-27e8-8e96-8aaa-7f1a424c9c78" Alias="KCC Section Width" Level="1">
  <Info>
    <Name>KCC Section Width</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Thin",
    "Container",
    "Breakout",
    "Full width"
  ],
  "multiple": false
}]]></Config>
</DataType>