<?xml version="1.0" encoding="utf-8"?>
<DataType Key="70d524cb-cb1d-80a7-9423-43e6b7006689" Alias="KCC Section Background" Level="1">
  <Info>
    <Name>KCC Section Background</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Desk",
    "Desk two",
    "Paper",
    "Paper two"
  ],
  "multiple": false
}]]></Config>
</DataType>