<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b2f44888-4b88-8542-8e01-51fee4fcafc9" Alias="KCC Tag Kind" Level="1">
  <Info>
    <Name>KCC Tag Kind</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Diet",
    "Style"
  ],
  "multiple": false
}]]></Config>
</DataType>