<?xml version="1.0" encoding="utf-8"?>
<DataType Key="08155232-595e-8676-90aa-3571a3286f01" Alias="KCC Wash" Level="1">
  <Info>
    <Name>KCC Wash</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Peach",
    "Yellow",
    "Green",
    "Teal",
    "Sky",
    "Lavender",
    "Pink",
    "Red"
  ],
  "multiple": false
}]]></Config>
</DataType>