<?xml version="1.0" encoding="utf-8"?>
<Content Key="200175f7-4987-8be7-a6b2-d7582ab9d781" Alias="404" Level="2">
  <Info>
    <Parent Key="649897dc-73b1-8e14-a251-dbc3f574de19">Status Codes</Parent>
    <Path>/StatusCodes/</Path>
    <Trashed>false</Trashed>
    <ContentType>statusCodePage</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="404" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EThe page may have moved, or the link may be wrong. Try the \u003Ca href=\u0022/\u0022\u003Ehome page\u003C/a\u003E or the \u003Ca href=\u0022/recipes\u0022\u003Erecipes\u003C/a\u003E.\u003C/p\u003E"
}]]></Value>
    </body>
    <heading>
      <Value><![CDATA[We couldn't find that page]]></Value>
    </heading>
    <statusCode>
      <Value><![CDATA[404]]></Value>
    </statusCode>
  </Properties>
</Content>