<?xml version="1.0" encoding="utf-8"?>
<Content Key="9dda9e7b-3c73-8c53-b8d1-e059a4d4e47a" Alias="500" Level="2">
  <Info>
    <Parent Key="649897dc-73b1-8e14-a251-dbc3f574de19">Status Codes</Parent>
    <Path>/StatusCodes/</Path>
    <Trashed>false</Trashed>
    <ContentType>statusCodePage</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="500" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EThe kitchen hit a snag while loading this page. Please try again in a moment.\u003C/p\u003E"
}]]></Value>
    </body>
    <heading>
      <Value><![CDATA[Something went wrong]]></Value>
    </heading>
    <statusCode>
      <Value><![CDATA[500]]></Value>
    </statusCode>
  </Properties>
</Content>