<?xml version="1.0" encoding="utf-8"?>
<Content Key="330c6947-216e-83af-b452-2c158e8cf67c" Alias="Beverage" Level="2">
  <Info>
    <Parent Key="efb84da8-ea0d-891c-b09f-ec144f3244bf">Recipe Categories</Parent>
    <Path>/RecipeCategories/Beverage</Path>
    <Trashed>false</Trashed>
    <ContentType>recipeCategory</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="Beverage" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>