<?xml version="1.0" encoding="utf-8"?>
<Content Key="184f3466-66bf-8947-9fad-a5853d39a3d8" Alias="Cheesy" Level="2">
  <Info>
    <Parent Key="77cd0f1b-64b3-8357-99c1-9f92b3269cfa">Recipe Tags</Parent>
    <Path>/RecipeTags/Cheesy</Path>
    <Trashed>false</Trashed>
    <ContentType>recipeTag</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="Cheesy" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <kind>
      <Value><![CDATA[["Style"]]]></Value>
    </kind>
  </Properties>
</Content>