<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc2876a1-b1bd-85d8-a826-75a718dbe4b1" Alias="Create Recipe" Level="3">
  <Info>
    <Parent Key="a2a87542-0959-880e-b15d-f6334bca0b2a">Recipes</Parent>
    <Path>/Home/Recipes/CreateRecipe</Path>
    <Trashed>false</Trashed>
    <ContentType>createRecipePage</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="Create Recipe" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <breadcrumbLabel>
      <Value><![CDATA[]]></Value>
    </breadcrumbLabel>
    <excludeFromSitemap>
      <Value><![CDATA[]]></Value>
    </excludeFromSitemap>
    <metadataDescription>
      <Value><![CDATA[]]></Value>
    </metadataDescription>
    <metadataImage>
      <Value><![CDATA[]]></Value>
    </metadataImage>
    <metadataKeywords>
      <Value><![CDATA[]]></Value>
    </metadataKeywords>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <showBreadcrumbs>
      <Value><![CDATA[]]></Value>
    </showBreadcrumbs>
    <twitterCard>
      <Value><![CDATA[]]></Value>
    </twitterCard>
    <twitterCreator>
      <Value><![CDATA[]]></Value>
    </twitterCreator>
    <twitterImage>
      <Value><![CDATA[]]></Value>
    </twitterImage>
    <twitterSite>
      <Value><![CDATA[]]></Value>
    </twitterSite>
  </Properties>
</Content>