<?xml version="1.0" encoding="utf-8"?>
<Content Key="f08799ce-a590-8601-b7e3-409d91c099f9" Alias="Dinner" Level="2">
  <Info>
    <Parent Key="efb84da8-ea0d-891c-b09f-ec144f3244bf">Recipe Categories</Parent>
    <Path>/RecipeCategories/Dinner</Path>
    <Trashed>false</Trashed>
    <ContentType>recipeCategory</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="Dinner" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>