<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c164b66-296c-8468-a4a1-4deee3879fba" Alias="Easy" Level="2">
  <Info>
    <Parent Key="77cd0f1b-64b3-8357-99c1-9f92b3269cfa">Recipe Tags</Parent>
    <Path>/RecipeTags/Easy</Path>
    <Trashed>false</Trashed>
    <ContentType>recipeTag</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="Easy" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>