<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c80a96a-8582-8bca-b906-ec6be07deb69" Alias="Fast" Level="2">
  <Info>
    <Parent Key="77cd0f1b-64b3-8357-99c1-9f92b3269cfa">Recipe Tags</Parent>
    <Path>/RecipeTags/Fast</Path>
    <Trashed>false</Trashed>
    <ContentType>recipeTag</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="Fast" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <kind>
      <Value><![CDATA[["Style"]]]></Value>
    </kind>
  </Properties>
</Content>