<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd3a5a4d-c8a5-8fad-a9a3-1f552a65380a" Alias="Gluten-Free" Level="2">
  <Info>
    <Parent Key="77cd0f1b-64b3-8357-99c1-9f92b3269cfa">Recipe Tags</Parent>
    <Path>/RecipeTags/GlutenFree</Path>
    <Trashed>false</Trashed>
    <ContentType>recipeTag</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="Gluten-Free" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <kind>
      <Value><![CDATA[["Diet"]]]></Value>
    </kind>
  </Properties>
</Content>