<?xml version="1.0" encoding="utf-8"?>
<Content Key="79ef71b8-cb66-8b58-a1b3-9cf363c15389" Alias="High-Protein" Level="2">
  <Info>
    <Parent Key="77cd0f1b-64b3-8357-99c1-9f92b3269cfa">Recipe Tags</Parent>
    <Path>/RecipeTags/HighProtein</Path>
    <Trashed>false</Trashed>
    <ContentType>recipeTag</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="High-Protein" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <kind>
      <Value><![CDATA[["Diet"]]]></Value>
    </kind>
  </Properties>
</Content>