<?xml version="1.0" encoding="utf-8"?>
<Content Key="baf76518-4e12-848d-ac87-ea4a73ae470e" Alias="Login" Level="3">
  <Info>
    <Parent Key="c48c77b3-5f03-85d0-91ab-4a262e889efd">Account</Parent>
    <Path>/Home/Account/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>loginPage</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <breadcrumbLabel>
      <Value><![CDATA[]]></Value>
    </breadcrumbLabel>
    <excludeFromSitemap>
      <Value><![CDATA[]]></Value>
    </excludeFromSitemap>
    <metadataDescription>
      <Value><![CDATA[]]></Value>
    </metadataDescription>
    <metadataImage>
      <Value><![CDATA[]]></Value>
    </metadataImage>
    <metadataKeywords>
      <Value><![CDATA[]]></Value>
    </metadataKeywords>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <showBreadcrumbs>
      <Value><![CDATA[]]></Value>
    </showBreadcrumbs>
    <twitterCard>
      <Value><![CDATA[]]></Value>
    </twitterCard>
    <twitterCreator>
      <Value><![CDATA[]]></Value>
    </twitterCreator>
    <twitterImage>
      <Value><![CDATA[]]></Value>
    </twitterImage>
    <twitterSite>
      <Value><![CDATA[]]></Value>
    </twitterSite>
  </Properties>
</Content>