<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a4c7fde-136d-8e4c-be09-c7eaa31b2ba3" Alias="Low-Carb" Level="2">
  <Info>
    <Parent Key="77cd0f1b-64b3-8357-99c1-9f92b3269cfa">Recipe Tags</Parent>
    <Path>/RecipeTags/LowCarb</Path>
    <Trashed>false</Trashed>
    <ContentType>recipeTag</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="Low-Carb" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <kind>
      <Value><![CDATA[["Diet"]]]></Value>
    </kind>
  </Properties>
</Content>