<?xml version="1.0" encoding="utf-8"?>
<Content Key="775aec80-9bde-87c1-9884-fdc14fff9efa" Alias="Lunch" Level="2">
  <Info>
    <Parent Key="efb84da8-ea0d-891c-b09f-ec144f3244bf">Recipe Categories</Parent>
    <Path>/RecipeCategories/Lunch</Path>
    <Trashed>false</Trashed>
    <ContentType>recipeCategory</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="Lunch" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <icon>
      <Value><![CDATA[fa-duotone fa-sandwich]]></Value>
    </icon>
  </Properties>
</Content>