<?xml version="1.0" encoding="utf-8"?>
<Content Key="efb84da8-ea0d-891c-b09f-ec144f3244bf" Alias="Recipe Categories" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RecipeCategories</Path>
    <Trashed>false</Trashed>
    <ContentType>contentFolder</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="Recipe Categories" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>