<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2a87542-0959-880e-b15d-f6334bca0b2a" Alias="Recipes" Level="2">
  <Info>
    <Parent Key="e04fbfbe-9de3-80c9-a095-36313d5e061e">Home</Parent>
    <Path>/Home/Recipes</Path>
    <Trashed>false</Trashed>
    <ContentType>recipeListingPage</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="Recipes" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <breadcrumbLabel>
      <Value><![CDATA[]]></Value>
    </breadcrumbLabel>
    <excludeFromSitemap>
      <Value><![CDATA[]]></Value>
    </excludeFromSitemap>
    <metadataDescription>
      <Value><![CDATA[]]></Value>
    </metadataDescription>
    <metadataImage>
      <Value><![CDATA[]]></Value>
    </metadataImage>
    <metadataKeywords>
      <Value><![CDATA[]]></Value>
    </metadataKeywords>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <showBreadcrumbs>
      <Value><![CDATA[]]></Value>
    </showBreadcrumbs>
    <twitterCard>
      <Value><![CDATA[]]></Value>
    </twitterCard>
    <twitterCreator>
      <Value><![CDATA[]]></Value>
    </twitterCreator>
    <twitterImage>
      <Value><![CDATA[]]></Value>
    </twitterImage>
    <twitterSite>
      <Value><![CDATA[]]></Value>
    </twitterSite>
  </Properties>
</Content>