<?xml version="1.0" encoding="utf-8"?>
<Content Key="77cd0f1b-64b3-8357-99c1-9f92b3269cfa" Alias="Recipe Tags" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RecipeTags</Path>
    <Trashed>false</Trashed>
    <ContentType>contentFolder</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="Recipe Tags" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>