<?xml version="1.0" encoding="utf-8"?>
<Content Key="e779da98-c284-8945-a0ef-d41749839b40" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainNav>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "672e1703-aeab-87d1-b3a0-ac8094e92775",
      "key": "203dcffd-26eb-8e52-a232-d6571e5fe8a5",
      "values": [
        {
          "alias": "displayText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Recipes"
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "All Recipes",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/a2a875420959880eb15df6334bca0b2a",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Create Recipe",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/bc2876a1b1bd85d8a82675a718dbe4b1",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        },
        {
          "alias": "showWhen",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Always"
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "203dcffd-26eb-8e52-a232-d6571e5fe8a5",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "203dcffd-26eb-8e52-a232-d6571e5fe8a5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainNav>
    <utilityNav>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ff558bff-77ca-8166-bdc9-0f175d319c29",
      "key": "b38e2612-d009-8140-b91a-e3a474a5605d",
      "values": [
        {
          "alias": "displayText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Login"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Login",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/baf765184e12848dac87ea4a73ae470e",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        },
        {
          "alias": "showWhen",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Signed out"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "672e1703-aeab-87d1-b3a0-ac8094e92775",
      "key": "a0c172ff-1f0c-8c59-86cd-98eaaf419506",
      "values": [
        {
          "alias": "displayText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Account"
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Profile",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/c48c77b35f0385d091ab4a262e889efd",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Settings",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/dfd3c4c80f07891781e898604db184b6",
              "url": null,
              "queryString": null,
              "culture": null
            },
            {
              "name": "Logout",
              "target": null,
              "unique": null,
              "type": null,
              "udi": null,
              "url": "/account/logout",
              "queryString": null,
              "culture": null
            }
          ]
        },
        {
          "alias": "showWhen",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Signed in"
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b38e2612-d009-8140-b91a-e3a474a5605d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a0c172ff-1f0c-8c59-86cd-98eaaf419506",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b38e2612-d009-8140-b91a-e3a474a5605d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a0c172ff-1f0c-8c59-86cd-98eaaf419506",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </utilityNav>
  </Properties>
</Content>