<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb3e4a39-5919-8a0a-a2d1-9abb3b98ca43" Alias="Snack" Level="2">
  <Info>
    <Parent Key="efb84da8-ea0d-891c-b09f-ec144f3244bf">Recipe Categories</Parent>
    <Path>/RecipeCategories/Snack</Path>
    <Trashed>false</Trashed>
    <ContentType>recipeCategory</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="Snack" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <icon>
      <Value><![CDATA[fa-duotone fa-cookie]]></Value>
    </icon>
  </Properties>
</Content>