<?xml version="1.0" encoding="utf-8"?>
<Content Key="649897dc-73b1-8e14-a251-dbc3f574de19" Alias="Status Codes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StatusCodes</Path>
    <Trashed>false</Trashed>
    <ContentType>contentFolder</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="Status Codes" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>