<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8563daf-0df0-8200-98ac-6753e87e59cc" Alias="Vegan" Level="2">
  <Info>
    <Parent Key="77cd0f1b-64b3-8357-99c1-9f92b3269cfa">Recipe Tags</Parent>
    <Path>/RecipeTags/Vegan</Path>
    <Trashed>false</Trashed>
    <ContentType>recipeTag</ContentType>
    <CreateDate>2026-09-24T12:30:22</CreateDate>
    <NodeName Default="Vegan" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <kind>
      <Value><![CDATA[["Diet"]]]></Value>
    </kind>
  </Properties>
</Content>