@using KCC.Web.Features.Ssr
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting

@inject IWebHostEnvironment Env
@inject VueSsrService VueSsrService

@model BasePageViewModel

<!DOCTYPE html>
<html lang="en">

<head>
  <partial name="~/Features/Pages/Shared/Partials/Metadata.cshtml" />

  <link rel="preload" href="/fonts/HazelnutMilkTeaRegular.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="/fonts/AmericanPurposeCasualRegular.woff2" as="font" type="font/woff2" crossorigin />

  @if (Env.IsDevelopment())
  {
    <link rel="stylesheet" href="/assets/main-dev.css" />
  }
  else
  {
    <link rel="stylesheet" vite-href="/Features/Styles/Main.css" asp-append-version="true" />
  }

  <page-builder-styles />
</head>

<body>
  @await VueSsrService.RenderVueSsrAsync(
    await Component.InvokeAsync("Header"),
    RenderBody(),
    await Component.InvokeAsync("Footer"),
    Context.RequestAborted
  )

  <script type="module" vite-src="/Features/Main.ts" asp-append-version="true" />
  <page-builder-scripts />
</body>

</html>
