@using KCC.ResourceStrings.Editing
@using KCC.Web.Features.Components.Footer
@using KCC.Web.Features.Components.Header
@using Kentico.Content.Web.Mvc.Routing
@using Microsoft.AspNetCore.Hosting

@inject IWebHostEnvironment Env
@inject VueSsrService VueSsrService
@inject IPreferredLanguageRetriever PreferredLanguageRetriever

@model BasePageViewModel

<!DOCTYPE html>
<html lang="@PreferredLanguageRetriever.Get()">

<head>
  <partial name="~/Features/Pages/Shared/Partials/Metadata.cshtml" />

  <link rel="preload" href="/fonts/HazelnutMilkTeaRegular.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="/fonts/AmericanPurposeCasualRegular.woff2" as="font" type="font/woff2" crossorigin />

  @if (Env.IsDevelopment())
  {
    <link rel="stylesheet" href="/assets/main-dev.css" />
  }
  else
  {
    <link rel="stylesheet" vite-href="/Features/Styles/Main.css" asp-append-version="true" />
  }

  <page-builder-styles />
  <page-builder-mount-preload />
</head>

<body>
  @await VueSsrService.RenderVueSsrAsync(
    await Component.InvokeAsync(typeof(HeaderViewComponent)),
    RenderBody(),
    await Component.InvokeAsync(typeof(FooterViewComponent)),
    Context.RequestAborted
  )

  <script type="module" vite-src="/Features/Main.ts" asp-append-version="true"></script>

  <page-builder-mount-script />

  @await Component.InvokeAsync(typeof(ResourceStringEditorViewComponent))

  <page-builder-scripts />
</body>

</html>
