@using KitchenCommandCenter.Web.Features.Sections.Base;

@model BaseSectionViewModel

@{
    // var isContainer = Model.ContentWidth == "Container";
    // @(isContainer ? "container mx-auto" : "w-full")
}

<div data-section-guid="@Model.SectionGuid" class="@Model.BackgroundColor">
    <div class="variable-section-wrapper">
        <div class="variable-section pb-@Model.PaddingBottom pt-@Model.PaddingTop">
            <div>
                <widget-zone />
            </div>
        </div>
    </div>
</div>
