<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8b29f6b5-58e0-4141-ba1b-9ba90b1af313" Alias="Account.AppearanceHint" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Device follows the setting on your phone or computer.</Translation>
  </Translations>
</Dictionary>