<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="764711e9-140e-4d41-8d37-64077369ed99" Alias="Account.MyRecipesAndVariants" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">My Recipes &amp; Variants</Translation>
  </Translations>
</Dictionary>