<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fe312462-5b9a-4b5b-9130-9b4f818e422d" Alias="Account.EmailComingSoon" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Email management is coming soon.</Translation>
  </Translations>
</Dictionary>