<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2c7a7fab-4c07-455d-ad22-5f171083d84a" Alias="Account.UnexpectedError" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Something went wrong. Please try again.</Translation>
  </Translations>
</Dictionary>