<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="49334913-5036-4050-97fc-c542ef2a5c67" Alias="Account.ProfileSaved" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Your profile has been saved.</Translation>
  </Translations>
</Dictionary>