<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="807b6fce-8229-4f45-85d7-9879788ea941" Alias="Account.NameRequiredError" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please enter your name.</Translation>
  </Translations>
</Dictionary>