<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ac57a4ff-596f-4b99-880d-ddd90b77dc38" Alias="Account.PasswordRequiredError" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please enter your password.</Translation>
  </Translations>
</Dictionary>