<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b7091c18-0490-4257-97c3-f980cc76e205" Alias="Account.PasswordUpdated" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Your password has been updated.</Translation>
  </Translations>
</Dictionary>