<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5f33fa22-4721-46c7-861e-e1882b9edb02" Alias="Account.PasswordsDoNotMatch" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Passwords do not match.</Translation>
  </Translations>
</Dictionary>