<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c0ba80cd-affb-4323-88b2-ed07a465d98c" Alias="Account.ConfirmNewPassword" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Confirm New Password</Translation>
  </Translations>
</Dictionary>