<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a4709883-b722-462b-ba96-395686ab310a" Alias="Account.EmailComingSoonNote" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">You'll be able to update your email address here soon.</Translation>
  </Translations>
</Dictionary>