<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="81fd46d8-7e7c-4f4b-bd31-c6919e188ed9" Alias="Account.NoCreationsYet" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">You haven't created anything yet.</Translation>
  </Translations>
</Dictionary>