<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="51b4eab5-f157-451f-b25f-04bcba170016" Alias="AddVariant.AddIngredient" Level="1">
  <Info>
    <Parent>AddVariant</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Add Ingredient</Translation>
  </Translations>
</Dictionary>