<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="03fe2c19-c35e-4dd8-ad60-2c3b9abc1e40" Alias="AddVariant.DescribeThisStep" Level="1">
  <Info>
    <Parent>AddVariant</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Describe this step</Translation>
  </Translations>
</Dictionary>