<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="aba735ed-e3cb-488f-815d-c22bb68bba71" Alias="AddVariant.ReviewAndSubmit" Level="1">
  <Info>
    <Parent>AddVariant</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Review &amp; Submit</Translation>
  </Translations>
</Dictionary>