<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1bbda98e-406d-490b-9a7b-70b95f93953f" Alias="AddVariant.SubmitForReview" Level="1">
  <Info>
    <Parent>AddVariant</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Submit for Review</Translation>
  </Translations>
</Dictionary>