<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e27213ee-0529-47ef-a51a-8c4cdd19c870" Alias="AddVariant.AddVariantFor" Level="1">
  <Info>
    <Parent>AddVariant</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Add a Variant for</Translation>
  </Translations>
</Dictionary>