<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="302aa8b1-444b-41d3-97e8-ebdd3b3c77d8" Alias="AddVariant.FailedToAddVariant" Level="1">
  <Info>
    <Parent>AddVariant</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We couldn't add your variant. Please try again.</Translation>
  </Translations>
</Dictionary>