<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="98aaa3ba-c127-4ccb-b5d6-5a0b263e18a5" Alias="AddVariant.UnexpectedError" Level="1">
  <Info>
    <Parent>AddVariant</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Something went wrong. Please try again.</Translation>
  </Translations>
</Dictionary>