<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="686c29a3-47f6-4816-809e-e2522faefcfa" Alias="AddVariant.DescriptionPlaceholder" Level="1">
  <Info>
    <Parent>AddVariant</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Add a short description of your variant</Translation>
  </Translations>
</Dictionary>