<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b192205f-cf8a-4939-8b8a-1f5df4400156" Alias="AddVariant.Eyeball" Level="1">
  <Info>
    <Parent>AddVariant</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Eyeball this ingredient</Translation>
  </Translations>
</Dictionary>