<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="81180c3d-80b2-4131-ad62-9aa97eaa99b3" Alias="AddVariant.IngredientName" Level="1">
  <Info>
    <Parent>AddVariant</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Ingredient Name</Translation>
  </Translations>
</Dictionary>