<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="452ac5e3-c404-4d19-a65b-8afb3afc8f3a" Alias="AddVariant.IngredientNamePlaceholder" Level="1">
  <Info>
    <Parent>AddVariant</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">e.g. All-purpose flour</Translation>
  </Translations>
</Dictionary>