<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ab8d1654-da02-4d70-8c08-94b48de26427" Alias="AddVariant.VariantSubmitted" Level="1">
  <Info>
    <Parent>AddVariant</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Variant submitted!</Translation>
  </Translations>
</Dictionary>