<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dc3409c0-e46a-4190-af64-acddc3b674a8" Alias="Api.RequestFailed" Level="1">
  <Info>
    <Parent>Api</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The request failed. Please try again.</Translation>
  </Translations>
</Dictionary>