<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3874f1b3-ac7d-423e-a009-cd3354663dbd" Alias="Api.UnexpectedError" Level="1">
  <Info>
    <Parent>Api</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Something went wrong. Please try again.</Translation>
  </Translations>
</Dictionary>