<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7074041f-ff23-480d-a6a4-0e150f13adc8" Alias="CreateRecipe.CreateRecipe" Level="1">
  <Info>
    <Parent>CreateRecipe</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Create Recipe</Translation>
  </Translations>
</Dictionary>