<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="73bb9e7c-0c72-49ba-83c9-11d8add8d134" Alias="Login.TwoFactorRequiredError" Level="1">
  <Info>
    <Parent>Login</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Two-factor authentication is required.</Translation>
  </Translations>
</Dictionary>