<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7be50720-8a0f-4532-b2c1-d3a764b6429e" Alias="Login.HaveAccountDescription" Level="1">
  <Info>
    <Parent>Login</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Sign in to continue.</Translation>
  </Translations>
</Dictionary>