<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="db132856-0db9-468e-93e3-a8a91cee6f79" Alias="Login.InvalidCredentialsError" Level="1">
  <Info>
    <Parent>Login</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">That username or password is incorrect.</Translation>
  </Translations>
</Dictionary>