<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="372d63e8-fdbc-46f9-aaed-51fee48a1938" Alias="Login.PasswordPlaceholder" Level="1">
  <Info>
    <Parent>Login</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Enter your password</Translation>
  </Translations>
</Dictionary>