<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0efc0f1c-70ee-4888-8de1-a723b89831ad" Alias="Login.NewHereDescription" Level="1">
  <Info>
    <Parent>Login</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Create an account to get started.</Translation>
  </Translations>
</Dictionary>