<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a00ff1cd-b3c2-46d5-a6a8-2a1b59e84fb4" Alias="Login.NotAllowedError" Level="1">
  <Info>
    <Parent>Login</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Your account is waiting for approval. You can sign in once the owner approves it.</Translation>
  </Translations>
</Dictionary>