<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="848a16a8-d4a6-49b8-8930-b32e9b6be293" Alias="Login.UsernamePlaceholder" Level="1">
  <Info>
    <Parent>Login</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Enter your username</Translation>
  </Translations>
</Dictionary>