<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="24411f35-e721-478e-842e-3d8c23f4a899" Alias="Login.ConfirmPasswordPlaceholder" Level="1">
  <Info>
    <Parent>Login</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Confirm your password</Translation>
  </Translations>
</Dictionary>