<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ed82cdd1-34e0-4a88-a315-5bcda8188a51" Alias="Login.LockedOutError" Level="1">
  <Info>
    <Parent>Login</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Your account is locked. Please try again later.</Translation>
  </Translations>
</Dictionary>