<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="03dd3a6f-255c-4aa2-8b13-f0460f3dc99d" Alias="Nav.YourRecipesAndVariants" Level="1">
  <Info>
    <Parent>Nav</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Your recipes and variants</Translation>
  </Translations>
</Dictionary>