<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8ffe6ace-48c2-435b-ae4b-974111b3768f" Alias="RecipeDetail.NoRatingsYet" Level="1">
  <Info>
    <Parent>RecipeDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No ratings yet</Translation>
  </Translations>
</Dictionary>