<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b47ffdc1-7d4d-4f81-b51e-cb4680fe0644" Alias="RecipeSearch.IngredientSearchComingSoon" Level="1">
  <Info>
    <Parent>RecipeSearch</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Ingredient Search Coming Soon</Translation>
  </Translations>
</Dictionary>