<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bbca1653-7c3d-4c20-a424-251d7cbd3e1f" Alias="RecipeSearch.ClearAllFilters" Level="1">
  <Info>
    <Parent>RecipeSearch</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Clear All</Translation>
  </Translations>
</Dictionary>