<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ad5b70a9-b203-4371-839f-c6b8e017f458" Alias="RecipeDetail.TimesCooked" Level="1">
  <Info>
    <Parent>RecipeDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">times cooked</Translation>
  </Translations>
</Dictionary>