<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c6ad9e44-9428-44e2-b2ff-39d5f268e91b" Alias="RecipeSearch.NoRecipesHint" Level="1">
  <Info>
    <Parent>RecipeSearch</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No Recipes Hint</Translation>
  </Translations>
</Dictionary>