<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e6df2354-41a3-4864-95c2-f6b3ab82b463" Alias="RecipeSearch.BrowseTheKitchen" Level="1">
  <Info>
    <Parent>RecipeSearch</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Browse the Kitchen</Translation>
  </Translations>
</Dictionary>