<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5c4ebab4-50d9-47c2-a228-d3b94e91f211" Alias="RecipeDetail.ClearFilters" Level="1">
  <Info>
    <Parent>RecipeDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Clear Filters</Translation>
  </Translations>
</Dictionary>