<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="81625a31-374b-4f5d-97c6-4fe1e3c60e51" Alias="RecipeSearch.SearchRecipes" Level="1">
  <Info>
    <Parent>RecipeSearch</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Search recipes</Translation>
  </Translations>
</Dictionary>