<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d4b45d70-129f-41b8-9150-c2720e85cd55" Alias="RecipeDetail.SearchVariants" Level="1">
  <Info>
    <Parent>RecipeDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Search variants</Translation>
  </Translations>
</Dictionary>