<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5e1dac50-9ddf-421c-81cd-e63f99a540d0" Alias="RecipeSearch.CreateRecipe" Level="1">
  <Info>
    <Parent>RecipeSearch</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Create Recipe</Translation>
  </Translations>
</Dictionary>