<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="60d06dd6-3694-4d4e-b255-776bb72bce5f" Alias="RecipeDetail.NoVariantsMatch" Level="1">
  <Info>
    <Parent>RecipeDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No variants match your filters.</Translation>
  </Translations>
</Dictionary>