<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="396b467e-26b9-49c7-9845-86c387bc794c" Alias="RecipeSearch.NoRecipesMatch" Level="1">
  <Info>
    <Parent>RecipeSearch</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No recipes match your current search.</Translation>
  </Translations>
</Dictionary>