<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="84e104c0-08e3-4d17-ae11-f1e908a5ca13" Alias="RecipeDetail.TryDifferentFilter" Level="1">
  <Info>
    <Parent>RecipeDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Try a different filter.</Translation>
  </Translations>
</Dictionary>