<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c8eb5f16-172e-424c-9850-2fbc6c776beb" Alias="RecipeDetail.RankingComingSoon" Level="1">
  <Info>
    <Parent>RecipeDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Rankings are coming soon.</Translation>
  </Translations>
</Dictionary>