<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="41fc06dd-a8a1-476a-a5e7-00b4c3789885" Alias="RecipeDetail.Contributors" Level="1">
  <Info>
    <Parent>RecipeDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Contributors</Translation>
  </Translations>
</Dictionary>