<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7e85613e-0cd9-476d-8a67-1dcf8a14cc4b" Alias="RecipeDetail.AllVariants" Level="1">
  <Info>
    <Parent>RecipeDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">All Variants</Translation>
  </Translations>
</Dictionary>