<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3007aac1-2433-4397-b9e5-790937998f6a" Alias="RecipeSearch.NoRatingsYet" Level="1">
  <Info>
    <Parent>RecipeSearch</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No Ratings Yet</Translation>
  </Translations>
</Dictionary>