<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="36c9c65d-03d9-4976-9d3b-78a3cba38664" Alias="RegistrationComplete.Heading" Level="1">
  <Info>
    <Parent>RegistrationComplete</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">You're all set!</Translation>
  </Translations>
</Dictionary>