<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5dd1303a-7727-447d-a6ea-053f286dd1ec" Alias="RegistrationComplete.ContinueLink" Level="1">
  <Info>
    <Parent>RegistrationComplete</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Continue to sign in</Translation>
  </Translations>
</Dictionary>