<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="036a5ce3-d08d-4598-bb12-814d233087e5" Alias="RegistrationComplete.Body" Level="1">
  <Info>
    <Parent>RegistrationComplete</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Your account has been created and is waiting for approval. You can sign in once the owner approves it.</Translation>
  </Translations>
</Dictionary>