<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="417e045e-586f-468d-8d31-ce86ae65e1a6" Alias="VariantDetail.NoRatingsYet" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No ratings yet</Translation>
  </Translations>
</Dictionary>