<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="73f031a9-2432-4782-b10f-eefddf0e1bf3" Alias="VariantDetail.SubmitReview" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Submit Review</Translation>
  </Translations>
</Dictionary>