<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2a1609a2-6fff-4d58-a762-54b9ba769894" Alias="VariantDetail.DeleteReview" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Delete Review</Translation>
  </Translations>
</Dictionary>