<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="68042e5b-4da8-4be8-b6bb-4c3fcef9c024" Alias="VariantDetail.LogInToReview" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Log in to write a review.</Translation>
  </Translations>
</Dictionary>