<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="589f056e-725b-40e9-bf0e-c3d588d8de30" Alias="VariantDetail.StartTimer" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Start Timer</Translation>
  </Translations>
</Dictionary>