<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5a314a6b-5ed0-47b5-b441-675af415d640" Alias="VariantDetail.CookNotesComingSoon" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Cook notes are coming soon.</Translation>
  </Translations>
</Dictionary>