<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="93659f49-f7fd-415a-9421-6bb852f2eff5" Alias="VariantDetail.ComingSoon" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Coming soon</Translation>
  </Translations>
</Dictionary>