<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="26ac67f4-49c0-4109-ac8f-46aa22d5c0d0" Alias="VariantDetail.DifficultyMedium" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Medium</Translation>
  </Translations>
</Dictionary>