<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b93b5683-aede-4e13-9ed7-345b22757bc5" Alias="VariantDetail.ReviewsComingSoon" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Reviews are coming soon.</Translation>
  </Translations>
</Dictionary>