<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b1f41c68-8cfa-4164-a1ff-741c2cbdbab9" Alias="VariantDetail.NutritionNotProvided" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Nutrition information isn't available for this variant.</Translation>
  </Translations>
</Dictionary>