<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0b05241d-a251-47c5-b19a-6cd8a230f7f8" Alias="VariantDetail.Ingredients" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Ingredients</Translation>
  </Translations>
</Dictionary>