<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="87d7bcdd-9b23-43e3-9d2a-05f9ed7838b4" Alias="VariantDetail.WriteReview" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Write a Review</Translation>
  </Translations>
</Dictionary>