<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="41b4d1de-b5b4-471b-b9d8-8cf3a559de21" Alias="VariantDetail.NoCookNotesYet" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No cook notes yet.</Translation>
  </Translations>
</Dictionary>