<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cba22a94-c93b-4725-8967-11e7bb56aed5" Alias="VariantDetail.CookNotePlaceholder" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Share a tip or note about making this variant</Translation>
  </Translations>
</Dictionary>