<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f71c0e1e-dd0d-4101-ac2e-0a0e30babfb4" Alias="VariantDetail.NoReviewsYet" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No reviews yet.</Translation>
  </Translations>
</Dictionary>