<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4c98c825-4bc3-4f15-9597-75c0eee0927f" Alias="VariantDetail.OtherVariants" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Other Variants</Translation>
  </Translations>
</Dictionary>