<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ec86c526-cbf3-42d3-95ba-ea69265050fb" Alias="VariantDetail.PerServing" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Per serving</Translation>
  </Translations>
</Dictionary>