<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fbbd6ebe-6cbf-4a18-b41e-22c86a537bac" Alias="VariantDetail.EditReview" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Edit Review</Translation>
  </Translations>
</Dictionary>