<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bda4a4f0-8e68-4933-8779-726f3756ce74" Alias="VariantDetail.YourReview" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Your Review</Translation>
  </Translations>
</Dictionary>