<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="86c47042-0385-416b-ab77-ad781c9b91be" Alias="VariantDetail.TimesCooked" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">times cooked</Translation>
  </Translations>
</Dictionary>