<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8400f726-58a2-41ca-b92a-d7d1892c9c68" Alias="VariantDetail.DeleteNote" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Delete Note</Translation>
  </Translations>
</Dictionary>