<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="17b081f0-2790-4372-b6aa-40a8bebbec21" Alias="VariantDetail.ICookedThis" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">I Cooked This</Translation>
  </Translations>
</Dictionary>