<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bca3fd3c-7ad7-495d-a128-244285068058" Alias="VariantDetail.AddCookNote" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Add Cook Note</Translation>
  </Translations>
</Dictionary>