<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ead50033-44e1-468f-b8c7-da2fa9c402ca" Alias="VariantDetail.RatingsReviews" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Ratings &amp; Reviews</Translation>
  </Translations>
</Dictionary>