<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1b1024c0-f02f-4e3e-bf42-c77d899d677a" Alias="VariantDetail.Instructions" Level="1">
  <Info>
    <Parent>VariantDetail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Instructions</Translation>
  </Translations>
</Dictionary>