{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": false,
  "singleQuote": true,
  "printWidth": 125,
  "tailwindStylesheet": "./Features/Styles/TailwindConfig.css",
  "cssDeclarationSorterKeepOverrides": false,
  "cssDeclarationSorterOrder": "alphabetical",
  "plugins": ["prettier-plugin-css-order", "prettier-plugin-tailwindcss"],
  "vueIndentScriptAndStyle": true
}
