@import './TailwindConfig.css';
@import './Layout.css';
@import './Typography.css';

/* Sections */
@import './Sections/MultipleColumnSection.css';

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}
