@layer base {
  body {
    color: var(--color-onyx);
    font-family: 'Hazelnut';
    font-size: 1.25rem;
    font-weight: 500;
  }

  h1,
  h2 {
    font-family: 'APCasual';
    letter-spacing: 1px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

/* TODO: Hazelnut font is swapping colon and semicolon */

/* Display fonts - loaded on demand */
@font-face {
  font-family: 'Aima';
  src: url('/fonts/AimaDisplayRegular.woff2') format('woff2');
  font-display: swap;
}

/* Heading font - preloaded */
@font-face {
  font-family: 'APCasual';
  src: url('/fonts/AmericanPurposeCasualRegular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'APCasual';
  src: url('/fonts/AmericanPurposeCasualItalic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
}

/* Body font - preloaded (primary font) */
@font-face {
  font-family: 'Hazelnut';
  src: url('/fonts/HazelnutMilkTeaRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hazelnut';
  src: url('/fonts/HazelnutMilkTeaBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hazelnut';
  src: url('/fonts/HazelnutMilkTeaItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Hazelnut';
  src: url('/fonts/HazelnutMilkTeaBoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
