@using KitchenCommandCenter.Web.Features.Sections.MultipleColumn;

@model MultipleColumnSectionViewModel

@{
    // var isContainer = Model.ContentWidth == "Container";
    // @(isContainer ? "container mx-auto" : "w-full")
    var sectionClass = $"lg:{Model.SectionClass}";
}

<div data-section-guid="@Model.SectionGuid" class="@Model.BackgroundColor">
    <div class="variable-section-wrapper">
        <div class="variable-section pb-@Model.PaddingBottom pt-@Model.PaddingTop @sectionClass @Model.ContentAlignment">
            @for (var j = 0; j < Model.ColumnCount; j++)
            {
                <div>
                    <widget-zone />
                </div>
            }
        </div>
    </div>
</div>
