<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7df4d4f6-f2cb-89cc-bf43-208fbc19031a" Alias="accountPage" Level="1">
  <Info>
    <Name>Account Page</Name>
    <Icon>icon-user</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="006a324b-04c6-87ec-8a1e-d94ab40a60f7">metadata</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="69c46642-d370-892b-a689-87323da4edc6" SortOrder="0">loginPage</ContentType>
    <ContentType Key="38d128c6-4096-887d-9ed7-f357f8f3a34f" SortOrder="1">accountSettingsPage</ContentType>
    <ContentType Key="044cb972-8fa5-823c-a8e8-731c262bba47" SortOrder="2">registrationCompletePage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>