<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="11a46e97-46b3-89d8-bd36-752cd0cafbfd" Alias="contentFolder" Level="1">
  <Info>
    <Name>Content Folder</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="697af7a4-ab46-8c7e-b99a-8eee34bde91b" SortOrder="0">recipeCategory</ContentType>
    <ContentType Key="2ed5b6e1-5e05-8682-b8cd-d4db1efd9bd0" SortOrder="1">recipeTag</ContentType>
    <ContentType Key="2047846c-4e6c-8261-a99d-0e730ba830e7" SortOrder="2">statusCodePage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>