<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1021d521-e6b3-8d77-8e49-96e8c77fef79" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="006a324b-04c6-87ec-8a1e-d94ab40a60f7">metadata</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f9a63555-d110-8199-9ff3-60915e1055b0" SortOrder="0">recipeListingPage</ContentType>
    <ContentType Key="7df4d4f6-f2cb-89cc-bf43-208fbc19031a" SortOrder="1">accountPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8661be42-80ca-8aaf-b84b-f331de3e62fd</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>8c25347f-86bd-8624-beb4-8e5cc43df27c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="home">Home</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a02864b9-0c7b-80f5-87dc-31e01505a6d4</Key>
      <Caption>Home</Caption>
      <Alias>home</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>