<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f9a63555-d110-8199-9ff3-60915e1055b0" Alias="recipeListingPage" Level="1">
  <Info>
    <Name>Recipe Listing Page</Name>
    <Icon>icon-list</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="006a324b-04c6-87ec-8a1e-d94ab40a60f7">metadata</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9f72c9a6-cf18-8dd4-ad97-a4ae072efa6a" SortOrder="0">createRecipePage</ContentType>
    <ContentType Key="5cb319f7-31b1-8208-a25f-8a290749bb07" SortOrder="1">addVariantPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>